<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286767890792-dd7d4jeaghnpo7vhlrfjufasunit8d14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286767890792-dd7d4jeaghnpo7vhlrfjufasunit8d14</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>286767890792-8cnbtv4e49ttb0o1pgs3jicft94idi89.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvDnUcWozYGGUjF0LhiwFHj4gDrDN9aNU</string>
	<key>GCM_SENDER_ID</key>
	<string>286767890792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.productivity</string>
	<key>PROJECT_ID</key>
	<string>productivity-jan</string>
	<key>STORAGE_BUCKET</key>
	<string>productivity-jan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286767890792:ios:d630303c563d4b9d8896dd</string>
	<key>DATABASE_URL</key>
	<string>https://productivity-jan.firebaseio.com</string>
</dict>
</plist>